@tailwind base;
@tailwind components;
@tailwind utilities;

/* common */
[data-overlay-container] {
  @apply grow flex flex-col;
}

.container {
  @apply px-5 mx-auto max-w-7xl;
}

.section-py {
  @apply py-[min(100px,15dvh)];
}
.section-title {
  @apply text-3xl md:text-5xl mb-8 xl:mb-10;
}

.with-hover {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
}

.with-hover:after {
  display: block;
  content: '';
  width: inherit;
  border-bottom: solid 2px currentColor;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.with-hover:hover:after {
  transform: scaleX(1);
}

/* header */
.menu-indicator {
  svg {
    @apply w-6 h-6 text-black;
  }
}

/* hero */
.hero {
  position: relative;
}
.hero::before {
  content: '';
  display: block;
  min-height: 200px;
  min-width: 200px;
  width: 40vh;
  height: 40vh;
  background-color: #fdfbfd;
  box-shadow: inset 10px 0 40px #f7f8fc, inset -10px 0 20px #f7e1ef,
    inset -40px 10px 100px #c3c5ea;
  background-size: 1600% 1600%;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: transform 50s ease-in-out infinite both alternate,
    movement 40s ease-in-out infinite both;
  position: absolute;
  bottom: 30%;
  right: 15%;
}
@media (width <= 500px) {
  .hero::before {
    width: 30vh;
    height: 30vh;
    bottom: 20%;
    right: 10%;
  }
}

@keyframes transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes movement {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translateY(20%) rotateY(10deg);
  }
}
